<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<div class="container">
    <h3 style="text-align: center">Goggle</h3>
    <div class="verticle-center" style="margin-top: 50%">
        <form action="/" method='post' enctype="multipart/form-data">
            <div class="file-field input-field">
                <div class="btn">
                    <span>Select Image</span>
                    <input type="file" name="image">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>

            </div>
            <button style="width: 100%" class="waves-effect waves-teal btn" type="submit">Predict</button>
        </form>

    </div>
</div>